body {
  background: linear-gradient(
    rgb(255, 255, 255),
    rgb(165, 219, 231),
    rgb(103, 33, 173)
  );
  min-height: 64vh;
  background-size: cover;
}
@font-face {
  font-family: Fixedsys;
  src: url(font/Fixedsys-Excelsior-3.01-Regular.ttf);
}
div {
  text-align: center;
  width: 280px;
  border: solid 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35vh auto;
  border-radius: 20px;
  background: linear-gradient(rgb(232, 207, 255), #eff9ff, rgb(202, 238, 255));
  font-family: Fixedsys;
  backdrop-filter: blur(50px);
  overflow: hidden;
}
#output {
  font-size: 18px;
}
#layvitri {
  border-radius: 4px;
  border: solid 1px;
  font-size: small;
  font-family: Fixedsys;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
